.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    margin-top: 16px;
    justify-content: space-between;
}

.textField {
    display: flex;
    justify-content: stretch;
}

.heading {
    font-weight: bold;
    flex: 1;
    color: #1976d2;
    text-transform: capitalize;
}
